<app-headerboard></app-headerboard>
<div id="user-input">
    <app-dropdown
        (countryChange)="changeSelectedCountry($event)"></app-dropdown>
    <input
        #input
        (change)="changeSelectedDate(input.value)"
        [value]="selectedDate"
        type="date" />
    <button (click)="queryAPI()">Display</button>
</div>
<div id="main-content">
    <app-stats-display *ngIf="!isWaiting"
        [queriedCountry]="queriedCountry"
        [queriedDate]="queriedDate"
        [cases]="mostRecentCases | toArray"
        [deaths]="mostRecentDeaths | toArray"
        [tests]="mostRecentTests | toArray"
        (newYVariable)="changeYVariable($event)"></app-stats-display>
    <app-data-graph
        [yVariable]="yVariable"
        [category]="yVariableCategory"
        [timelineData]="fullDailyData"></app-data-graph>
</div>
<app-loading-indicator *ngIf="isWaiting"></app-loading-indicator>